header {
    height: 100vh;
    margin-bottom: 88px;
}

.buttons {
    text-align: center;
    margin-top: 24px;
}

button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
}

#primario {
    background-color: #D9D9D9;
    color: #1A1A1A;
}

#primario:hover {
    background-color: #F0C687;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#secundario {
    background-color: transparent;
    border: 1px solid #D9D9D9;
    color: #D9D9D9;
}

#secundario:hover {
    border: 1px solid #F0C687;
    color: #F0C687;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.section-projects {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 24px;
}

#subtitle {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 8px;
}

.projetos {
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
}

.projeto {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 430px;
    border-radius: 50px;
    background-color: #D9D9D9;
    color: #171717;
    text-align: center;
    cursor: pointer;
}

.projeto-content {
  transition: filter 0.2s ease;
}

.projeto:hover .projeto-content {
  filter: blur(2px);
}

.projeto .imgAndText {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.projeto img {
    width: 380px;
    height: 220px;
    object-fit: cover;
    border-radius: 50px 50px 0 0;
}

.projeto h3 {
    color: #171717;
    font-size: 32px;
}

.projeto p {
    font-size: 16px;
    text-align: start;
    padding: 0 24px;
}

.custom-tooltip {
    position: fixed;
    padding: 8px 16px;
    background-color: #0D2237;
    color: #D9D9D9;
    border-radius: 8px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
}
.custom-tooltip.visible {
    opacity: 1;
    transform: translateY(0);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.911);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.modal-content {
    background-color: #D9D9D9;
    color: #171717;
    padding: 40px;
    border-radius: 30px;
    max-width: 60vw;
    position: relative;
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal.show .modal-content {
  transform: scale(1);
}

.modal-content h3 {
    color: #171717;
}

#modal-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal .close {
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
  display: none;
}

.section-companies {
    margin-top: 88px;
}

.empresas {
    text-align: center;
    margin-top: 32px;
}

.empresas img {
    width: 94px;
    height: 92px;
    text-align: center;
}

.section-process {
    margin-top: 88px;
}

.section-process .title p {
    width: 1150px;
    margin: 8px auto 40px auto;
    font-weight: normal;
}

.linha1, .linha2 {
    display: flex;
    justify-content: center;
}

.linha2 {
    margin-top: 40px;
}

.negocio, .gestao, .design, .tecnlogia, .analiseDados, .treinamento {
    width: 365px;
    margin-right: 40px;
}

.processo h3 {
    color: #F0C687;
    font-size: 32px;
    margin-bottom: 8px;
}

.section-tools {
    margin-top: 88px;
}

.ferramentas {
    text-align: center; 
    margin-top: 32px;
}

.ferramentas img {
    width: 88px;
    height: 88px;
}

@media screen and (max-width: 1305px) {

    .buttons {
        flex-direction: column;
        gap: 12px;
        padding: 0 16px;
    }

    .section-projects {
        padding-top: 144px; 
    }

    .projetos {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 0 16px;
    }

    .projeto {
        width: 65vw;
        height: auto;
    }

    .projeto:hover .projeto-content {
        filter: none;
    }

    .projeto img {
        width: 97%;
        height: auto;
        border-radius: 50px 50px 0 0;
    }

    .projeto p {
        padding: 0 24px 24px 24px;
    }

    .custom-tooltip.visible {
        opacity: 0;
    }

    .empresas img,
    .ferramentas img {
        width: 60px;
        height: 60px;
    }

    .section-process .title p {
        width: 90%;
        text-align: justify;
    }

    .linha1, .linha2 {
        flex-direction: column;
        align-items: center;
    }

    .negocio, .gestao, .design,
    .tecnlogia, .analiseDados, .treinamento {
        width: 90%;
        margin: 16px 0;
    }

    .modal-content {
        max-width: 90vw;
        padding: 24px;
    }

    .modal-content p {
        text-align: justify;
    }

}

@media screen and (max-width: 766px) {

    header {
        margin-bottom: 0;
    }

    .section-projects {
        padding-top: 0px; 
    }

    button {
        font-size: 12px;
    }

}